USE [master]
GO
/****** Объект:  Database [CompanyDB]    Дата создания скрипта: 21.05.2026 21:22:52 ******/ 
CREATE DATABASE [CompanyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompanyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CompanyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompanyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CompanyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompanyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompanyDB]
GO
/****** Объект:  Table [dbo].[Employees]    Дата создания скрипта: 21.05.2026 21:22:52 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](50) NULL,
	[Salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([ID], [FullName], [Position], [Salary]) VALUES (1, N'Иванов Иван', N'Директор', CAST(150000.00 AS Decimal(10, 2)))
INSERT [dbo].[Employees] ([ID], [FullName], [Position], [Salary]) VALUES (2, N'Петров Петр', N'Программист', CAST(120000.00 AS Decimal(10, 2)))
INSERT [dbo].[Employees] ([ID], [FullName], [Position], [Salary]) VALUES (3, N'Сидорова Анна', N'Дизайнер', CAST(90000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
USE [master]
GO
